<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <main>
      <h1>Vous avez reçu une invitation à rejoindre WildCarbon !</h1>
      <p>
        Vous recevez ce mail car un utilisateur de notre plateforme vous a
        envoyé une invitation.
      </p>
      <p>
        WildCarbon est un projet à but non lucratif pour vous aider à évaluer
        votre empreinte carbone et découvrir de nombreuses astuces pour la
        diminuer, grâce aux bons plans partagés par notre communauté.
      </p>
      <a href="<%= url %>" target="_blank">Découvrir WildCarbon</a>
    </main>
    <%- include('./partials/footer'); %>
  </body>
</html>
