<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <main>
      <p>
        Vous recevez cet email car vous avez demandé à réinitialiser votre mot
        de passe de votre compte WildCarbon.
      </p>
      <p>
        En cliquant sur le lien ci-dessous, vous serez redirigé vers la page
        vous permettant de changer votre mot de passe.
      </p>
      <p>
        Ce lien est valide pour une durée de 10 minutes seulement après son
        envoi, pour des raisons de sécurité.
      </p>
      <a href="<%= url %>" target="_blank">Réinitialiser votre mot de passe</a>
    </main>
    <%- include('./partials/footer'); %>
  </body>
</html>
